on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  REGISTRY: ${{ secrets.REGISTRY }}
  SONAR_URL: ${{secrets.SONAR_URL}}
  SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
  SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  EKS_CLUSTER: project1
  REGION: us-east-2

jobs:
  Testing:
    name: "Build and test the source code"
    runs-on: ubuntu-latest  # Corrected to use the latest Ubuntu image
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build with Maven
        run: mvn test

      - name: Run Checkstyle
        run: mvn checkstyle:checkstyle 
      
      - name: Java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin' 
          java-version: '11'

      - name: Setup SonarQube
        uses: warchant/setup-sonar-scanner@v7

      - name: Analyze with SonarCloud
        run: sonar-scanner
            -Dsonar.host.url=${{secrets.SONAR_URL}}
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.sources=src/
            -Dsonar.java.binaries=target/classes/com/visualpathit/account
            -Dsonar.jacoco.reportsPath=target/jacoco.exec
            -Dsonar.junit.reportsPath=target/surefire-reports/
            -Dsonar.java.checkstyle.reportsPaths=target/checkstyle-result.xml

   
       - name: Wait for Quality Gate
         uses: sonarsource/sonarcloud-github-action@v2.1.0
         with:
           projectKey: ${{ secrets.SONAR_PROJECT_KEY }}
           token: ${{ secrets.SONAR_TOKEN }}