name: Build, Test, and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  REGISTRY: ${{ secrets.REGISTRY }}
  SONAR_URL: ${{ secrets.SONAR_URL }}
  SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
  SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  EKS_CLUSTER: vprofile1-eks
  REGION: us-east-2
  #IMAGE_TAG: ${{ github.sha }}
  ECR_REPO_NAME: ${{secrets.ECR_REPO_NAME}}
  IMAGE_TAG: ${{ github.run_number }} 

jobs:


  DeployEKS:
    name: "Deploy eks via helm"
    runs-on: ubuntu-latest
    #needs: DockerBuildPush # Make sure the Testing job completes before this job runs

    steps:
      - name: Checkout code
        uses: actions/checkout@v2 
       
      - name: Deploy Helm to EKS
        uses: bitovi/github-actions-deploy-eks-helm@v1.2.12
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}
          cluster-name: ${{ env.EKS_CLUSTER }}
          chart-path: helm/projcharts
          namespace: default
          values: |
              appimage: ${{ secrets.REGISTRY }}/${{ secrets.ECR_REPO_NAME }}
              apptag: ${{ env.IMAGE_TAG }}

          name: project1-stack