on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE }}
  REGISTRY: ${{ secrets.REGISTRY }}
  SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
  SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  EKS_CLUSTER: project1
  REGION: us-east-2 

jobs:
  build:
    name: "Build and test the source code"
    runs-on: ubuntu-latest  # Corrected to use the latest Ubuntu image
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up JDK 11
        uses: guillonapa/action-maven-cli/jdk11@master


      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with: 
          path: $HOME/.m2/repository  # Ensure using $HOME explicitly
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
    
      - name: Build with Maven
        run: mvn clean install
 
      - name: Run tests with Maven
        run: mvn test 

      - name: Run Checkstyle
        run: mvn checkstyle:checkstyle 
